@charset "UTF-8";
body,
header,
footer,
section,
div,
span,
p,
img,
a,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
em,
i,
b,
u,
del,
menu,
nav,
fieldset,
legend,
article,
aside,
details,
figcaption,
hgroup,
pre,
code,
from,
blockquote,
th,
td,
tr,
hr,
table,
img,
figure,
button,
input,
textarea {
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Microsoft Yahei', Helvetica, Arial;
}

a:active,
a:hover {
  outline: 0;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}
html,
body {
  font-size: 100px;
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
  html,
  body {
    font-size: 100px;
  }
}

@media only screen and (max-width: 720px), only screen and (max-device-width: 720px) {
  html,
  body {
    font-size: 96px;
  }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px) {
  html,
  body {
    font-size: 85.3333px;
  }
}

@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
  html,
  body {
    font-size: 80px;
  }
}

@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
  html,
  body {
    font-size: 72px;
  }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html,
  body {
    font-size: 64px;
  }
}

@media only screen and (max-width: 414px), only screen and (max-device-width: 414px) {
  html,
  body {
    font-size: 55.2px;
  }
}

@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
  html,
  body {
    font-size: 53.333px;
  }
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px) {
  html,
  body {
    font-size: 50px;
  }
}

@media only screen and (max-width: 360px), only screen and (max-device-width: 360px) {
  html,
  body {
    font-size: 48px;
  }
}

@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  html,
  body {
    font-size: 42.66666px;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow-x: hidden;
  color: #333333;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  color: #333333;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a.react,
label.react {
  display: block;
  color: inherit;
  height: 100%;
}

a.react.react-active,
a.react:active,
label.react:active {
  background: rgba(0, 0, 0, 0.1);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

::-webkit-input-placeholder {
  color: #dddddd;
  line-height: inherit;
}

:-moz-placeholder {
  color: #dddddd;
  line-height: inherit;
}

::-moz-placeholder {
  color: #dddddd;
  line-height: inherit;
}
input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}  




input {
  border: 0;
  background: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  border-radius: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #ededed !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent;
  background-image: none;
  transition: background-color 50000s ease-in-out 0s; /*背景色透明  生效时长  过渡效果  启用时延迟的时间*/
}

input {
  background-color: transparent;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

/*超出部分省略号*/

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis_2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.ellipsis_3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.ellipsis_4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.admin-hide {
  display: none;
}
.admin-show {
  display: block;
}
.admin-inline {
  display: inline-block;
}
/*文字位置*/

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

/*浮动方向*/

.admin-float-l {
  float: left;
}

.admin-float-r {
  float: right;
}

/*清除浮动*/

.admin-float-clear:after {
  content: '';
  display: block;
  clear: both;
}

.over_hidden {
  overflow: hidden;
}

.inherit {
  color: inherit;
}

._flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

._flex1 {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  position: relative;
}

._flexjust {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ::-webkit-scrollbar {
  width: 0;
} */

/*点击改变底色*/

a:active {
  opacity: 0.8;
}

button:active {
  opacity: 0.8;
}
